@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

  $primary-color: rgb(166, 180, 172);
  $second-color: rgb(34, 150, 92);
  $white-color: #fff;
  $font-style: italic;
  $text-align: center;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

%center {
  align-items: center;
  justify-content: center;
}

body {
    background-color: $primary-color;
    font-family: sans-serif;
}

.title {
    text-align: center;
    margin: 20px;
    color: $white-color;
}

#quote{
    font-size: 25px;
    text-align: center;
}

.aspas {
  font-size: 2rem;
  text-align: center;
}

.container {
  height: 60vh;
  display: flex;
  @extend %center;
}

.content {
  width: 500px;
  background-color: $white-color;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

    .author {
      display: flex;
      justify-content: center;
      font-size: 18px;
      margin-top: 20px;
      font-style: $font-style;
    }
}

.buttons {
  border-top: 1px solid #ccc;
    
  button {
    border: none;
    color: $white-color;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 13px 22px;
    border-radius: 30px;
    background: $second-color;
  }
}

.features {
  @extend %center; 
  display: flex;
  margin-top: 20px;
    
  ul li {
    @extend %center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    display: flex;
    cursor: pointer;
    color: $second-color;
    list-style: none;
    border-radius: 50%;
    border: 2px solid $second-color;
    transition: all 0.3s ease;
  }
}

footer {
    color: $white-color;
    text-align: $text-align;
    font-style: $font-style;
} 
